mat-card {
  width: 80%;
  margin: auto;
  padding: 24px;
  gap: 20px;
}
mat-form-field,
input {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Use the full height of the viewport */
}
mat-icon {
  height: auto;
  width: auto;
  text-align: center;
}
.custom-icon {
  font-size: 100px;
}
.error-block {
  display: flex;
  background-color: rgba(255, 0, 0, 0.818);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 7px;
  height: auto;
  padding: 5px;
}

.error-message {
  font-size: 11px;
  color: white;
  text-align: center;
  margin: 0px;
}

mat-spinner {
  margin-left: 75px;
}
